<div class="container-fluid">
    <div class="container">
        <div class="row">
          <div class="card" *ngFor="let blog of blogsDataArr.articles">
            <div class="header">
              <img [src]="blog.urlToImage" *ngIf="blog.urlToImage != null else noimg"> 
              <ng-template #noimg>
                  <img src="../../../assets/images/Musk-1.jpg">
             </ng-template>
              <h1>{{blog.title }}</h1><br>
            </div>
            <div class="body">
              {{blog.description}}
            </div>
          </div>
        </div>
      </div>
    </div>